<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="NinjaShop Suite" parallel="tests" thread-count="3">

    <!-- Listener -->
    <listeners>
        <listener class-name="com.srm.hackathon.ninjashop.listeners.TestListeners"/>
    </listeners>

    <!-- Auth Tests -->
    <test name="Auth Tests">
        <classes>
            <class name="com.srm.hackathon.ninjashop.tests.AuthTest"/>
        </classes>
    </test>

    <!-- Registration Tests -->
    <test name="Registration Tests">
        <classes>
            <class name="com.srm.hackathon.ninjashop.tests.RegisterTest"/>
        </classes>
    </test>

    <!-- Product Tests -->
    <test name="Product Tests">
        <classes>
            <class name="com.srm.hackathon.ninjashop.tests.ProductTest"/>
        </classes>
    </test>

</suite>